* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f37021; /* LARANJA */
  color: #fff;
  width: 100vw;
  height: 100vh;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 50px;
}

h1 {
  font-size: 52px;
  margin-bottom: 40px;
}

.box {
  background: rgba(0,0,0,0.85);
  border-radius: 18px;
  padding: 25px 35px;
  margin-bottom: 25px;
}

.box.grande {
  font-size: 46px;
}

.box.medio {
  font-size: 36px;
}

.valor {
  font-weight: bold;
}

.qtd {
  font-size: 22px;
  margin-top: 8px;
}

.box.variacao {
  font-size: 32px;
  font-weight: bold;
}

.positivo {
  color: #00ff7f;
}

.negativo {
  color: #ff4c4c;
}

.box.meta {
  font-size: 26px;
}

.meta-ok {
  color: #00ff7f;
}

.meta-alerta {
  color: #ffd700;
}

.meta-ruim {
  color: #ff4c4c;
}
